<style>
	body {
		background: linear-gradient(to bottom, #7cf0f0, #c276e6);
		 /* Cambia el color de fondo según tus preferencias */
	}

	.login-section {
		border-radius: 5px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 50px 20px;
		margin-top: 20px;
	}

	
</style>
<section class='container'>
	<div class='row bg-light login-section'>
		<div class='col-4'>
			<img src='{{user.img}}' alt='logo' class='img-fluid' />
		</div>
		{{#if autorizado}}
		<div class='col-8' style='padding: 50px 20px;'>
			<h1>Hola, {{user.first_name}} {{user.last_name}}</h1>

			<p>Estos son tus datos:</p>

			<ul>
				<li><b>Nombre: </b>{{user.first_name}}</li>
				<li><b>Apellido: </b>{{user.last_name}}</li>
				<li><b>Correo: </b>{{user.email}}</li>
			</ul>
			<button><a class="nav-link" href="http://localhost:8080/agregarproducto">CREA TUS PRODUCTOS</a></button>
		</div>
		{{else}}
		<div class='col-8' style='padding: 50px 20px;'>
			<h1>Hola, {{user.first_name}} {{user.last_name}}</h1>

			<p>Estos son tus datos:</p>

			<ul>
				<li><b>Nombre: </b>{{user.first_name}}</li>
				<li><b>Apellido: </b>{{user.last_name}}</li>
				<li><b>Correo: </b>{{user.email}}</li>
			</ul>
			
		{{/if}}
		</div>
	</div>
</section>